@font-face {
  font-family: "Cisco Sans TT";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url("../files/woff2/CiscoSansTTThin.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: oblique;
  font-display: swap;
  font-weight: 100;
  src: url("../files/woff2/CiscoSansTTThinOblique.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("../files/woff2/CiscoSansTTExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: oblique;
  font-display: swap;
  font-weight: 200;
  src: url("../files/woff2/CiscoSansTTExtraLightOblique.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../files/woff2/CiscoSansTTLight.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: oblique;
  font-display: swap;
  font-weight: 300;
  src: url("../files/woff2/CiscoSansTTLightOblique.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../files/woff2/CiscoSansTTRegular.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: oblique;
  font-display: swap;
  font-weight: 400;
  src: url("../files/woff2/CiscoSansTTRegularOblique.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../files/woff2/CiscoSansTT-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../files/woff2/CiscoSansTTBold.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: oblique;
  font-display: swap;
  font-weight: 700;
  src: url("../files/woff2/CiscoSansTTBoldOblique.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../files/woff2/CiscoSansTTHeavy.woff2") format("woff2");
}
@font-face {
  font-family: "Cisco Sans TT";
  font-style: oblique;
  font-display: swap;
  font-weight: 900;
  src: url("../files/woff2/CiscoSansTTHeavyOblique.woff2") format("woff2");
}
