@font-face {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../../files/woff2/OpenSauceSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url("../../files/woff2/OpenSauceSans-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../files/woff2/OpenSauceSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url("../../files/woff2/OpenSauceSans-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../../files/woff2/OpenSauceSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url("../../files/woff2/OpenSauceSans-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../../files/woff2/OpenSauceSans-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url("../../files/woff2/OpenSauceSans-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../../files/woff2/OpenSauceSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url("../../files/woff2/OpenSauceSans-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("../../files/woff2/OpenSauceSans-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url("../../files/woff2/OpenSauceSans-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../../files/woff2/OpenSauceSans-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sauce Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url("../../files/woff2/OpenSauceSans-BlackItalic.woff2") format("woff2");
}
